<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="small" color="#fff" type="timer" [fullScreen]="true"><p style="color: white"> Wait a second!! </p></ngx-spinner>
<!--what is changes need to be made to make  2 ways binding works-->


<ng-container >
  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">ID</label>
      <!--how to enable 2 ways binding in element below-->

      <input class="form-control" name="pid" [(ngModel)]="product.id" value={{product.id}}>
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Name</label>
      <input class="form-control" name="pname" [(ngModel)]="product.name" value={{product.name}}>
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Price</label>
      <input class="form-control" name="inputAddress" [(ngModel)]="product.price" value={{product.price}}>
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Product Category</label>
      <select name="inputState" class="form-select" [(ngModel)]="product.productCategoryId">
        <option *ngFor="let c of productcategories" [selected]="product.productCategoryId == c.id" value={{c.id}}>{{c.description}}</option>
      </select>
    </div>
    <div class="col-12">
      <label class="form-label">{{updateresult}}</label>
      <span class="col-md-6"><button type="submit" class="btn btn-primary" (click)="Confirm()">Confirm</button></span>
      <span class="col-md-4"><button type="submit" class="btn btn-primary" routerLink="/product">Cancel</button></span>
    </div>

    <!--add two   markup base on fontawesome plus and minus style to this page-->




  </form>
</ng-container>
