<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="#" class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/product" routerLinkActive="active">Product</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/order" routerLinkActive="active">Order</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/inventory" routerLinkActive="active">Inventory</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/error" routerLinkActive="active">Error</a></li>

        <li class="nav-item"><a href="#" class="nav-link" routerLink="/counter" routerLinkActive="active">Legacy-Counter</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/fetch-data" routerLinkActive="active">Legacy-Weather</a></li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign up</a></li>
      </ul>
    </div>
  </nav>
</header>
