<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="small" color="#fff" type="timer" [fullScreen]="true"><p style="color: white"> Wait a second!! </p></ngx-spinner>
<ng-container *ngIf="product">
  <form class="row g-3">
    <div class="col-md-6" *ngIf="product">
      <label for="inputEmail4" class="form-label">ID</label>
      <input class="form-control" name="pid" value={{product.id}}>
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Name</label>
      <input class="form-control" name="pname" value={{product.name}}>
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Price</label>
      <input class="form-control" name="inputAddress" value={{product.price}}>
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Product Category</label>
      <select name="inputState" class="form-select">
        <option *ngFor="let c of productcategories" [selected]="product.productCategoryId == c.id" value={{c.id}}>{{c.description}}</option>
      </select>
    </div>
    <div class="col-12">
      <label class="form-label">{{updateresult}}</label>
      <span class="col-md-6"><button type="submit" class="btn btn-primary" (click)="Confirm()">Confirm</button></span>
      <span class="col-md-4"><button type="submit" class="btn btn-primary" routerLink="/product">Cancel</button></span>
    </div>
  </form>
  </ng-container>
