@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <img src="~/images/product.png" /> Service</h1>
    
    <p><font size="15">@ViewBag.Message</font></p>

</div>
