<h1 class="display-4 fw-normal">Product List</h1>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center" data-example-id="list-group-anchors">
  <section class = col-2>
    <div class="list-group">
      <a href="#" class="list-group-item active" *ngFor="let p of productcategories"> {{p.description}} </a>
    </div>
  </section>
  <section class = col-9>
    <div class="row row-cols-md-3 row-cols-md-3 mb-3 text-center">
      <div class="col" *ngFor="let product of products">
        <app-product [product]="product"></app-product>
      </div>
    </div>
  </section>
</div>
