<h1 class="display-4 fw-normal">Product List</h1>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center" data-example-id="list-group-anchors">
  <section class=col-1>
    <h5 class="card-title">Sort By</h5>
    <select class="custom-select mb-4" (change)="onSortChange($event.target.value)">
      <option *ngFor="let p of sortOptions" [selected]="selectedSort ==p.value " [value]="p.value">{{p.name}}</option>
    </select>
    <h5 class="card-title">Category</h5>
    <ul class="list-group mb-2">
      <li class="list-group-item" *ngFor="let p of productcategories"
          [class.active]="p.id==selectedproductcategoryid" [value]="p.id"
          (click)="onCategorySelected(p.id)">
        {{p.description}}
      </li>
    </ul>
  </section>
  <section class = col-14>
    <div class="row row-cols-md-3 row-cols-md-3 mb-3 text-center">
      <div class="col" *ngFor="let product of products">
        <app-productdisplay [product]="product"></app-productdisplay>
      </div>
    </div>
  </section>
</div>
