<div class="card bg-info">
    <div>#/Items : {{ds.Order.orderItems.length}} </div>
    <div>SubTotal : {{ds.Order.getTotal()}} </div>
    <table class="table">
        <thead>
            <tr>
                <td>Product</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ds.Order.orderItems">
                <td>{{item.product.title}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.product.price}}</td>
                <td>{{item.getTotal()}}</td>
            </tr>
        </tbody>

    </table>
   
    <div><button *ngIf="displayCheckOutButton=='true'" class="btn-success" (click)="Checkout()">Checkout</button></div>
</div>